a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

img {display: block;
max-width: 100%;}

.logo-link:hover, .logo-link:focus  {color: #4D5AE5;
}

.logo-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
.studio {
    color: #2e2f42;}

    .studio-footer { color: #f4f4fd;}
.logo-link-footer {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
}

.menu a {color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
.menu a:hover, .menu a:focus {
color: #404bbf;
}
.menu {
    list-style-type: none;
    display: flex; 
    column-gap: 40px; 
}


.contacts {
    font-style: normal; 
}
.contacts-menu a {
    color: #434455;
    letter-spacing: 0.02em;
    
    
}
.contacts-menu a:hover, .contacts-menu a:focus {color: #404bbf;}
.contacts-menu { 
    list-style-type: none;
    display: flex;
    gap: 40px;

}

body {font-family: Roboto, sans-serif;
      color: #434455;
      background-color: #FFF;
      line-height: 1.5;
    }

 .main-title {
    color:  #FFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center; 
    width: 496px;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-text {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.text {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

.button {
    cursor: pointer;
    background: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 48px;
   
}
.button:hover, .button:focus  {
background-color: #404BBF;
}

.first-block {
    background-color:  #2E2F42;
    padding-top: 188px;
    padding-right: 472px;
    padding-bottom: 188px;
    padding-left: 472px;
}


.third-block { 
    background-color: #F4F4FD;
}



.section-footer {
    background-color: #2E2F42;
    padding-top: 101.5px;
    padding-right: 1020px;
    padding-bottom: 100px;
    padding-left: 156px;
}
.section-footer-text {
color: #F4F4FD;
letter-spacing: 0.02em;
display: flex;
width: 264px;
margin-top: 17.5px;
}

.heder a {
text-decoration: none;
}
 
.advantages {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: calc((100%-72)/4);
    column-gap: 24px;
   
}

.team {
list-style-type: none;
display: flex;
justify-content: center;
align-items: flex-start;
gap: 32px;
padding-left: 0;
 margin-top: 0;
margin-bottom: 0;
width: calc((100%-72)/4);
column-gap: 24px;
}

.team-item {background-color: #FFFFFF;
  }


.portfolio {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: calc((100%-120)/6);
    column-gap: 24px;
    row-gap: 48px;
}


.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

.page-heder {
border-bottom: 1px solid #E7E9FC;
}

 .page-navigation {
    margin-right: auto;
    display: flex;
    column-gap: 110px;
 }

.item-text-team {
text-align: center;
margin-top:  8px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-header {
    display: flex;
    justify-content: space-between;
   }

.menu-item {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

 .contacts-menu-link {
    display: block;
padding-top: 24px;
padding-bottom: 24px;
 }

 .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 .container-portfolio-text{
    padding: 32px 16px;
    border: 1px solid  #E7E9FC;
    border-top: none;
 }

 .team-container-text {
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 0px 0px 4px 4px;
    background:  #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 }
 

